*{
	background-color: #CCFFCC;
}
header{
font-family: 'Calligraffitti', cursive;
font-size: 30px;
text-align: center;
padding-bottom: 4px;
padding-top: 4px;
height: 70px;
line-height: 4px;

}
#profile_photo{
	display: block;
	text-align: center;
	margin: auto;
}
img{
border: solid 2px #669966;
}
.title{
font-family: 'Noto Serif', serif;
}
#main_text{
margin: auto;
padding-right: 15%;
padding-left: 15%;
font-family: 'Source Sans Pro', sans-serif;
color: #283328;
}
footer{
	text-align: center;
}